
.undp-checkbox .ant-checkbox .ant-checkbox-inner {
  -webkit-appearance: none !important;
  appearance: none !important;
  border: 2px solid var(--dark-red) !important;
  cursor: pointer !important;
  height: 16px !important;
  margin: 0 !important;
  width: 16px !important;
}

.undp-checkbox .ant-checkbox-checked .ant-checkbox-inner{
  background-color: transparent !important;
}

.undp-checkbox:hover .ant-checkbox .ant-checkbox-inner {
  border: 2px solid var(--light-red) !important;
}

.undp-checkbox:hover .ant-checkbox-checked .ant-checkbox-inner {
  border: 2px solid var(--light-red) !important;
}

.undp-checkbox .ant-checkbox-checked {
  background: url(https://design.undp.org/static/media/icon-check.b332b98d.svg) no-repeat center center !important;
}

.undp-checkbox .ant-checkbox-checked .ant-checkbox-inner:after {
  display: none !important;
}

.undp-checkbox-label {
  font-size: 1rem !important;
  margin: 0 7px !important;
  line-height: 1rem !important;
}

.undp-checkbox .ant-checkbox + span {
  padding: 0 7px !important;
  font-size: 1rem !important;
  color: var(--black);
}

.undp-checkbox .ant-checkbox-disabled + span {
  color: var(--gray-400) !important;
}

.undp-checkbox .ant-checkbox-disabled .ant-checkbox-inner {
  background-color: var(--gray-200) !important;
  border-color: var(--gray-400) !important;
}

.undp-checkbox .ant-checkbox:focus {
  box-shadow: 0 0 4px #0468b1 !important;
  outline: 0;
}

.undp-checkbox .ant-checkbox:focus-visible {
  box-shadow: 0 0 4px #0468b1 !important;
  outline: 0;
}