.undp-input{
  border: 2px solid var(--black);    
  padding: 0.625rem;
  font-size: 1rem;
  appearance: none;
  border-radius: 0;
  line-height: 1.4;
  color: var(--black);
  width: 100%;
  height: 3.25rem;
  font-family: var(--fontFamily);
}


.undp-text-area{
  border: 2px solid var(--black);    
  padding: 0.625rem;
  font-size: 1rem;
  appearance: none;
  border-radius: 0;
  line-height: 1.4;
  color: var(--black);
  width: 100%;
  font-family: var(--fontFamily);
}

.undp-input:hover{
  border: 2px solid var(--blue-700) !important; 
}

.undp-input:focus{
  border: 2px solid var(--blue-700) !important; 
  box-shadow: 0 0 4px var(--blue-700) !important;
  outline: 0 !important;
}

.undp-input:focus-visible{
  border: 2px solid var(--blue-700) !important; 
  box-shadow: 0 0 4px var(--blue-700) !important;
  outline: 0 !important;
}

.undp-text-area:hover{
  border: 2px solid var(--blue-700); 
}

.undp-text-area:focus{
  border: 2px solid var(--blue-700); 
  box-shadow: 0 0 4px var(--blue-700);
  outline: 0;
}

.undp-input .ant-input-number-input{
  padding-left: 0;
  font-size: 1rem;
  line-height: 1.4;
}

.undp-input > .ant-picker-input > input{
  font-size: 1rem;
  line-height: 1.4;
}

.ant-picker-dropdown {
  font-family: var(--fontFamily);
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: var(--blue-600);
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background: var(--blue-600);
}

.ant-picker-today-btn {
  color: var(--blue-600);
  font-size: 1rem;
}
.ant-picker-today-btn:hover {
  color: var(--blue-700);
}
.ant-picker-today-btn:hover {
  color: var(--blue-700);
}