.undp-input{
  border: 2px solid var(--black) !important;    
  padding: 0.625rem !important;
  font-size: 1rem !important;
  appearance: none !important;
  border-radius: 0 !important;
  line-height: 1.4 !important;
  color: var(--black) !important;
  width: 100% !important;
  height: 3.25rem !important;
  font-family: var(--fontFamily);
}


.undp-text-area{
  border: 2px solid var(--black) !important;    
  padding: 0.625rem !important;
  font-size: 1rem !important;
  appearance: none !important;
  border-radius: 0 !important;
  line-height: 1.4 !important;
  color: var(--black) !important;
  width: 100% !important;
  font-family: var(--fontFamily);
}

.undp-input:hover{
  border: 2px solid var(--black) !important; 
}

.undp-input:focus{
  border: 2px solid var(--black) !important; 
  box-shadow: 0 0 4px #0468b1;
  outline: 0;
}

.undp-input .ant-input-number-input{
  padding-left: 0;
  font-size: 1rem !important;
  line-height: 1.4 !important;
}

.undp-input > .ant-picker-input > input{
  font-size: 1rem !important;
  line-height: 1.4 !important;
}

.ant-picker-dropdown {
  font-family: var(--fontFamily);
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: var(--blue-600);
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background: var(--blue-600);
}

.ant-picker-today-btn {
  color: var(--blue-600);
  font-size: 1rem;
}
.ant-picker-today-btn:hover {
  color: var(--blue-700);
}
.ant-picker-today-btn:hover {
  color: var(--blue-700);
}