
.undp-radio .ant-radio .ant-radio-inner {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid var(--dark-red);
  cursor: pointer;
  height: 16px;
  margin: 0;
  width: 16px;
}

.undp-radio .ant-radio-checked .ant-radio-inner{
  background-color: transparent;
}

.undp-radio:hover .ant-radio .ant-radio-inner {
  border: 2px solid var(--red);
  background-color: var(--light-red);
}

.undp-radio .ant-radio-checked .ant-radio-inner:after {
  background-color: var(--dark-red);
  width: 18px;
  height: 18px;
  margin-top: -9px;
  margin-left: -9px;
}

.undp-radio .ant-radio-input:focus-visible+.ant-radio-inner{
  outline: 0;
  box-shadow: 0 0 4px #0468b1;
}

.undp-radio-label {
  font-size: 1rem;
  margin: 0 7px;
  line-height: 1rem;
}

.undp-radio .ant-radio + span {
  padding: 0 7px;
  font-size: 1rem;
  color: var(--black);
}

.undp-radio .ant-radio-disabled .ant-radio-input{
  cursor: not-allowed;
}

.undp-radio .ant-radio-disabled + span {
  color: var(--gray-400) !important;
}

.undp-radio .ant-radio-disabled .ant-radio-inner {
  cursor: not-allowed;
  background-color: var(--gray-200) !important;
  border-color: var(--gray-400) !important;
}
