
.undp-select {
  width: 100%;
  border: 2px solid var(--black);
  height: 3.25rem;
}

.undp-select:hover {
  border: 2px solid var(--blue-700);
}

.undp-select.ant-select-focused {
  box-shadow: 0 0 4px #0468b1;
  outline: 0;
}

.undp-select:focus {
  box-shadow: 0 0 4px #0468b1;
  outline: 0;
}

.undp-select:focus-visible {
  box-shadow: 0 0 4px #0468b1;
  outline: 0;
}

.undp-select .ant-select-selector{
  min-height: 3rem !important;
  border: 0 !important;
}

.undp-select.ant-select-single .ant-select-selector{
  padding-top: 0.5rem !important;
}

.undp-select .ant-select-selection-placeholder {
  font-size: 1rem;
  padding-left: 0;
  font-weight: 600;
  color: var(--gray-500);
}

.undp-select .ant-select-selection-search{
  margin-inline-start: 0;
}

.undp-select:after {
  transform: translateY(-50%);
  transition: all 200ms ease-in-out;
  background: url(https://design.undp.org/static/media/chevron-down.16c97a3f.svg) no-repeat center center;
  content: "";
  float: right;
  height: 13px;
  position: absolute;
  pointer-events: none;
  right: 14px;
  top: 50%;
  width: 20px;
}

.undp-select .ant-select-selection-item {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  padding: 10px 3rem 0 0;
}


.undp-select .ant-select-arrow {
  opacity: 0;
}

.undp-select-option {
  font-size: 1.25rem !important;
  white-space: normal !important;
  padding: 1rem !important;
  border-top: 1px solid var(--gray-400) !important;
  line-height: 1.4 !important;
  font-family: var(--fontFamily) !important;
}


.undp-select-option.ant-select-item-option-selected{  
  background-color: transparent;
}

.undp-select-option.ant-select-item-option-active {
  background-color: var(--gray-100);
}

.undp-select.ant-select-single .ant-select-selector:after, .undp-select.ant-select-single .ant-select-selector .ant-select-selection-item:after, .undp-select.ant-select-single .ant-select-selector .ant-select-selection-placeholder:after{
  display: none;
}

.ant-select-selection-search {
  margin-top: 2px;
  font-size: 1.25rem;
}

.undp-select.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  height: 2rem;
  padding-bottom: 0;
}

.undp-select .ant-select-selection-search-input {
  padding: 0 !important;
  font-size: 1.25rem !important;
}

.undp-select .ant-select-selection-search-input {
  padding: 0 !important;
  font-size: 1.25rem !important;
}

.undp-select.ant-select-multiple .ant-select-selection-item {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  padding: 0 11px;
}

.undp-select-option.ant-select-item-option-selected .ant-select-item-option-state .anticon-check svg {
  fill: var(--dark-red);
}

.undp-select.ant-select-multiple .ant-select-selector .ant-select-selection-overflow .ant-select-selection-item {
  background-color: var(--gray-300);
}

.undp-select.ant-select-multiple .ant-select-selector .ant-select-selection-overflow .ant-select-selection-item .ant-select-selection-item-remove .anticon-close svg {
  fill: var(--gray-700);
}

.undp-select.ant-select-multiple .ant-select-selector .ant-select-selection-overflow .ant-select-selection-item .ant-select-selection-item-remove .anticon-close svg:hover {
  fill: var(--dark-red);
}

.undp-select .ant-select-selector{
  padding: 0 11px;
}

.ant-select-dropdown{
  padding: 0;
}

.clearIcon {
  background: url(https://design.undp.org/icons/times-circle.svg) no-repeat center center;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 50%;
  transform: translate(-50%,-50%);
}

.undp-language-select {
  width: auto;
  height: auto;
  border: 0;
}

.undp-language-select .ant-select-selection-item {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--blue-600);
  padding: 11px 1.5rem 0 2rem;
}

.undp-language-select .ant-select-selector{
  display: flex;
  align-items: center;
}

.undp-language-select .ant-select-selection-search{
  margin-top: 0;
}

.undp-language-select .ant-select-selection-search:before {
  background-color: var(--blue-600);
  display: inline-block;
  content: '';
  color: var(--blue-600);
  width: 25px;
  height: 26px;
  mask: url(https://design.undp.org/static/media/language.fa0c73b0.svg) no-repeat left center;
  margin-top: 13px;
}

.undp-language-select .ant-select-selection-item {
  margin-left: 2.25rem;
  margin-right: 0.5rem;
}

.undp-language-select .ant-select-selection-search input {
  display: none;
}

.undp-language-select:after {
  background: none;
  background-color: var(--blue-600);
  display: inline-block;
  content: "";
  height: 10px;
  mask: url(https://design.undp.org/static/media/arrow-blue.195b4397.svg) no-repeat left center;
  width: 15px;
}



.undp-select.undp-language-select.ant-select-single .ant-select-selector{
  padding-top: 0rem !important;
}


.undp-select.undp-language-select:hover {
  border: 0;
  opacity: 0.8;
}


.undp-select.undp-language-select.ant-select-single.ant-select-open .ant-select-selection-item {
  color: var(--blue-400) !important;
}

.undp-select.ant-select-multiple .ant-select-selection-placeholder{
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}