
.undp-select {
  width: 100%;
  border: 2px solid var(--black);
  height: 3.25rem;
}

.undp-select.ant-select-focused {
  box-shadow: 0 0 4px #0468b1;
  outline: 0;
}

.undp-select:focus {
  box-shadow: 0 0 4px #0468b1;
  outline: 0;
}

.undp-select:focus-visible {
  box-shadow: 0 0 4px #0468b1;
  outline: 0;
}

.ant-select-selector{
  min-height: 3rem !important;
  border: 0 !important;
}

.undp-select .ant-select-selection-placeholder {
  font-size: 1rem !important;
  color: black !important;
  padding-left: 0 !important;
  font-weight: 600 !important;
  color: var(--gray-500) !important;
}

.undp-select:after {
  transform: translateY(-50%) !important;
  transition: all 200ms ease-in-out !important;
  background: url(https://design.undp.org/static/media/chevron-down.16c97a3f.svg) no-repeat center center !important;
  content: "" !important;
  float: right !important;
  height: 13px !important;
  position: absolute !important;
  pointer-events: none !important;
  right: 14px !important;
  top: 50% !important;
  width: 20px !important;
}

.undp-select .ant-select-selection-item {
  font-size: 1rem !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  color: black !important;
  padding: 10px 3rem 0 0 !important;
}


.undp-select .ant-select-arrow {
  opacity: 0 !important;
}

.undp-select-option {
  font-size: 1.25rem !important;
  white-space: normal !important;
  padding: 1rem !important;
  border-top: 1px solid var(--gray-400) !important;
  line-height: 1.4 !important;
  font-family: var(--fontFamily) !important;
}


.undp-select-option.ant-select-item-option-selected{  
  background-color: transparent !important;
}

.undp-select-option.ant-select-item-option-active {
  background-color: var(--gray-100) !important;
}

.undp-select.ant-select-single .ant-select-selector:after, .undp-select.ant-select-single .ant-select-selector .ant-select-selection-item:after, .undp-select.ant-select-single .ant-select-selector .ant-select-selection-placeholder:after{
  display: none !important;
}

.undp-select.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder{
  padding-top: 10px !important;
}

.ant-select-selection-search {
  margin-top: 2px !important;
  font-size: 1.25rem !important;
}

.undp-select.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  height: 2rem !important;
  padding-bottom: 0 !important;
}

.undp-select.ant-select-single .ant-select-selection-search-input {
  padding: 0.875rem 0 0 0 !important;
  font-size: 1.25rem !important;
}

.undp-select.ant-select-multiple .ant-select-selection-item {
  font-size: 1rem !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  color: black !important;
  padding: 0 11px !important;
}

.undp-select-option.ant-select-item-option-selected .ant-select-item-option-state .anticon-check svg {
  fill: var(--dark-red) !important;
}

.undp-select.ant-select-multiple .ant-select-selector .ant-select-selection-overflow .ant-select-selection-item {
  background-color: var(--gray-300) !important;
}

.undp-select.ant-select-multiple .ant-select-selector .ant-select-selection-overflow .ant-select-selection-item .ant-select-selection-item-remove .anticon-close svg {
  fill: var(--gray-700) !important;
}

.undp-select.ant-select-multiple .ant-select-selector .ant-select-selection-overflow .ant-select-selection-item .ant-select-selection-item-remove .anticon-close svg:hover {
  fill: var(--dark-red) !important;
}

.undp-select .ant-select-selector{
  padding: 0 11px !important;
}

.ant-select-dropdown{
  padding: 0 !important;
}

.clearIcon {
  background: url(https://design.undp.org/icons/times-circle.svg) no-repeat center center !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-top: 50% !important;
  transform: translate(-50%,-50%) !important;
}

.undp-language-select {
  width: auto !important;
  height: auto !important;
  border: 0 !important;
}

.undp-language-select .ant-select-selection-item {
  font-size: 0.875rem !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  color: var(--blue-600) !important;
  padding: 11px 1.5rem 0 2rem !important;
}

.undp-language-select .ant-select-selection-search{
  margin-top: 0 !important;
}

.undp-language-select .ant-select-selection-search:before {
  background-color: var(--blue-600) !important;
  display: inline-block !important;
  content: '' !important;
  color: var(--blue-600) !important;
  width: 25px !important;
  height: 26px !important;
  mask: url(https://design.undp.org/static/media/language.fa0c73b0.svg) no-repeat left center !important;
  margin-top: 13px !important;
  margin-right: .5rem !important;
}

.undp-language-select .ant-select-selection-search input {
  display: none !important;
}

.undp-language-select:after {
  background: none !important;
  background-color: var(--blue-600) !important;
  display: inline-block !important;
  content: "" !important;
  height: 10px !important;
  margin-left: .5rem !important;
  mask: url(https://design.undp.org/static/media/arrow-blue.195b4397.svg) no-repeat left center !important;
  width: 15px !important;
}