:root {
  --blue-100: #B5D5F5;
  --blue-200: #94C4F5;
  --blue-300: #6BABEB;
  --blue-400: #4F95DD;
  --blue-500: #3288CE;
  --blue-600: #006EB5;
  --blue-700: #1F5A95;
  --white: #FFF;
  --gray-100: #FAFAFA;
  --gray-200: #F7F7F7;
  --gray-300: #EDEFF0;
  --gray-400: #D4D6D8;
  --gray-500: #A9B1B7;
  --gray-600: #55606E;
  --gray-700: #232E3D;
  --black: #000;
  --light-yellow: #FFE17E;
  --yellow: #FFEB00;
  --dark-yellow: #FBC412;
  --light-red: #FFBCB7;
  --red: #EE402D;
  --dark-red: #D12800;
  --light-green: #B8ECB6;
  --green: #6DE354;
  --dark-green: #59BA47;
  --light-azure: #A2DAF3;
  --azure: #60D4F2;
  --dark-azure: #00C1FF;
  --spacing-00: 0;
  --spacing-01: 0.125rem;
  --spacing-02: 0.25rem;
  --spacing-03: 0.5rem;
  --spacing-04: 0.75rem;
  --spacing-05: 1rem;
  --spacing-06: 1.5rem;
  --spacing-07: 2rem;
  --spacing-08: 2.5rem;
  --spacing-09: 3rem;
  --spacing-10: 4rem;
}

@keyframes lineLoop-animation {
  0% {
    background-position: 100% 100%, -30px 100%;
    background-size: 100% 2px, 0 2px;
  }
  to {
    background-position: calc(100% + 30px) 100%, 0 100%;
    background-size: 0 2px, 100% 2px;
  }
}

body {
  font-family: "proxima-nova", "Helvetica Neue", "sans-serif";
  font-size: 1rem;
  line-height: 1.4;
}

hr {
  border: 1px solid var(--black);
}

p {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.4;
}

@media (min-width: 48em) {
  body, p {
      font-size: 1.25rem;
  }
}

caption, h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .75rem;
  padding: 0;
}
@media(min-width:48em) {
  caption, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
  }
}

h1 {
  font-size: 2.938rem;
  font-weight: 700;
  letter-spacing: .06rem;
  line-height: 1.08;
  text-transform: uppercase;
}
@media(min-width:48em) {
  h1 {
    font-size: 5.125rem;
  }
}
@media(min-width:64em) {
  h1 {
    font-size: 6.25rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
}
@media(min-width:48em) {
  h2 {
    font-size: 2.813rem;
  }
}
@media(min-width:64em) {
  h2 {
    font-size: 3.438rem;
  }
}

h3 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.15;
}
@media(min-width:48em) {
  h3 {
    font-size: 2.188rem;
  }
}

h4 {
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 1.15;
}
@media(min-width:48em) {
  h4 {
    font-size: 2.188rem;
  }
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.15;
}
@media(min-width:48em) {
  h5 {
    font-size: 1.563rem;
  }
}

h6 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .03rem;
  line-height: 1.15;
  text-transform: uppercase;
}

a {
  background-image: linear-gradient(var(--dark-red), var(--dark-red)), linear-gradient(var(--dark-red), var(--dark-red));
  background-position: 100% 100%, -30px 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px, 0 1px;
  color: var(--black);
}

a:hover {
  animation: lineLoop-animation 2s linear infinite;
  color: var(--black);
}

a.dark-bg {
  background-image: linear-gradient(var(--white), var(--white)), linear-gradient(var(--white), var(--white));
  background-position: 100% 100%, -30px 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px, 0 1px;
  color: var(--white);
}

a.dark-bg:hover {
  animation: lineLoop-animation 2s linear infinite;
  color: var(--white);
}

a:focus-visible {
  box-shadow: 0 0 4px #0468b1;
  outline: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 var(--spacing-05);
  margin: auto;
}

.flex-div {
  display: flex;
  gap: var(--spacing-05);
}

.flex-vert-align-center {  
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-hor-align-center {
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.small {
  font-size: 1.25rem;
}

.label {
  margin-bottom: var(--spacing-03);
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.4;
}

@media (min-width: 48em) {
  .label {
      font-size: 1.25rem;
  }
}

.margin-top-00 {
  margin-top: var(--spacing-00);
}

.margin-bottom-00 {
  margin-bottom: var(--spacing-00);
}

.margin-top-01 {
  margin-top: var(--spacing-01);
}

.margin-bottom-01 {
  margin-bottom: var(--spacing-01);
}

.margin-top-01 {
  margin-top: var(--spacing-01);
}

.margin-bottom-01 {
  margin-bottom: var(--spacing-01);
}

.margin-top-02 {
  margin-top: var(--spacing-02);
}

.margin-bottom-02 {
  margin-bottom: var(--spacing-02);
}

.margin-top-02 {
  margin-top: var(--spacing-02);
}

.margin-bottom-02 {
  margin-bottom: var(--spacing-02);
}

.margin-top-03 {
  margin-top: var(--spacing-03);
}

.margin-bottom-03 {
  margin-bottom: var(--spacing-03);
}

.margin-top-04 {
  margin-top: var(--spacing-04);
}

.margin-bottom-04 {
  margin-bottom: var(--spacing-04);
}

.margin-top-05 {
  margin-top: var(--spacing-05);
}

.margin-bottom-05 {
  margin-bottom: var(--spacing-05);
}

.margin-top-06 {
  margin-top: var(--spacing-06);
}

.margin-bottom-06 {
  margin-bottom: var(--spacing-06);
}

.margin-top-07 {
  margin-top: var(--spacing-07);
}

.margin-bottom-07 {
  margin-bottom: var(--spacing-07);
}

.margin-top-08 {
  margin-top: var(--spacing-08);
}

.margin-bottom-08 {
  margin-bottom: var(--spacing-08);
}

.margin-top-09 {
  margin-top: var(--spacing-09);
}

.margin-bottom-09 {
  margin-bottom: var(--spacing-09);
}

.margin-top-10 {
  margin-top: var(--spacing-10);
}

.margin-bottom-10 {
  margin-bottom: var(--spacing-10);
}

.undp-scrollbar {
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.undp-scrollbar::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.undp-scrollbar::-webkit-scrollbar-track {
  background: #000;
  background-clip: padding-box;
  border: 2px solid #fff;
}
.undp-scrollbar::-webkit-scrollbar-corner {
  display: none;
}
.undp-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
}

@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: loader-animation 2s linear infinite;
  border-radius: 50%;
  border: 8px solid var(--blue-600);
  border-top: 8px solid var(--gray-300);
  height: 40px;
  width: 40px;
}

@media (min-width: 48em) {
  .loader {
    border: 14px solid var(--blue-600);
    border-top: 14px solid var(--gray-300);
    height: 96px;
    width: 96px;
  }
}