:root {
  --blue-100: #B5D5F5;
  --blue-200: #94C4F5;
  --blue-300: #6BABEB;
  --blue-400: #4F95DD;
  --blue-500: #3288CE;
  --blue-600: #006EB5;
  --blue-700: #1F5A95;
  --white: #FFF;
  --gray-100: #FAFAFA;
  --gray-200: #F7F7F7;
  --gray-300: #EDEFF0;
  --gray-400: #D4D6D8;
  --gray-500: #A9B1B7;
  --gray-600: #55606E;
  --gray-700: #232E3D;
  --black: #000;
  --light-yellow: #FFE17E;
  --yellow: #FFEB00;
  --dark-yellow: #FBC412;
  --light-red: #FFBCB7;
  --red: #EE402D;
  --dark-red: #D12800;
  --light-green: #B8ECB6;
  --green: #6DE354;
  --dark-green: #59BA47;
  --light-azure: #A2DAF3;
  --azure: #60D4F2;
  --dark-azure: #00C1FF;
}

body {
  font-family: "proxima-nova", "Helvetica Neue", "sans-serif";
  font-size: 1rem;
  line-height: 1.4;
}
@media (min-width: 48em) {
  body {
      font-size: 1.25rem;
  }
}

.button {
  align-items: center;
  background: transparent;
  border: none;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .03em;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  padding: 1rem 1.5rem;
}


.button:focus-visible {
  box-shadow: 0 0 4px #0468b1;
  outline: 0;
}

.button.button-primary {
  background-color: var(--dark-red);
}

.button.button-primary:hover {
  background-color: var(--red);
}

.button.button-primary.button-arrow:after {
  transition: .2s ease;
  background: url(https://design.undp.org/static/media/chevron-right-black.f618eac3.svg) no-repeat left center;
  color: var(--dark-red);
  height: 20px;
  margin-left: 0.75rem;
  content: "";
  width: 13px;
}

.button.button-primary.button-arrow:hover:after {
  transform: translate(70%, 0);
}

.button.button-primary.button-arrow.disabled:after {
  background: url(https://design.undp.org/static/media/chevron-right-white.c14d1d86.svg) no-repeat left center;
  content: ""
}

.button.button-secondary {
  background-color: var(--blue-600);
}

.button.button-secondary:hover {
  background-color: var(--blue-400);
}

.button.disabled {
  background-color: var(--gray-400);
  color: var(--gray-300);
  pointer-events: none;
}


.button.button-tertiary {
  background-color: var(--white);
  color: var(--black);
}

.button.button-tertiary:hover {
  color: var(--red);
}

.button.button-tertiary.button-arrow:after {
  transition: .2s ease;
  background: url(https://design.undp.org/static/media/chevron-right-black.f618eac3.svg) no-repeat left center;
  height: 20px;
  margin-left: 0.75rem;
  content: "";
  width: 13px;
}

.button.button-tertiary.button-arrow:hover:after {
  background: url(https://design.undp.org/icons/chevron-right.svg) no-repeat left center;
  transform: translate(70%, 0);
}

.button.button-tertiary.disabled {
  color: var(--gray-400);
}

.button.button-tertiary.disabled.button-arrow:after {
  transition: .2s ease;
  background: url(https://design.undp.org/static/media/chevron-right-black.f618eac3.svg) no-repeat left center;
  height: 20px;
  margin-left: 0.75rem;
  content: "";
  width: 13px;
  opacity: 0.3;
}

hr {
  border: 1px solid var(--black);
}

p {
  margin-top: 0;
}

caption, h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .75rem;
  padding: 0;
}
@media(min-width:48em) {
  caption, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
  }
}

h1 {
  font-size: 2.938rem;
  font-weight: 700;
  letter-spacing: .06rem;
  line-height: 1.08;
  text-transform: uppercase;
}
@media(min-width:48em) {
  h1 {
    font-size: 5.125rem;
  }
}
@media(min-width:64em) {
  h1 {
    font-size: 6.25rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
}
@media(min-width:48em) {
  h2 {
    font-size: 2.813rem;
  }
}
@media(min-width:64em) {
  h2 {
    font-size: 3.438rem;
  }
}

h3 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.15;
}
@media(min-width:48em) {
  h3 {
    font-size: 2.188rem;
  }
}

h4 {
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 1.15;
}
@media(min-width:48em) {
  h4 {
    font-size: 2.188rem;
  }
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.15;
}
@media(min-width:48em) {
  h5 {
    font-size: 1.563rem;
  }
}

h6 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .03rem;
  line-height: 1.15;
  text-transform: uppercase;
}

.stat-card {
  padding: 2rem;
  background-color: var(--gray-200);
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--black);
  transition: 300ms all;
}

.stat-card:hover {
  background-color: var(--light-yellow);
}

.stat-card:hover h2 {
  color: var(--black);
}

.stat-card h2 {
  line-height: 1.09;
  margin-bottom: 0;
  text-shadow: none;
  -webkit-text-stroke: 2px var(--black);
  color: var(--gray-200);
  font-size: 5rem;
  letter-spacing: .05rem;
}
@media (min-width: 48em) {
    .stats-card.small h2 {
      font-size: 4.375rem;
  }
}

.stat-card h4 {
  line-height: 1.15;
  margin-bottom: 0;
  color: var(--black);
  font-size: 1.563rem;
  letter-spacing: .05rem;
}

.stat-card p {
  line-height: 1.15;
  margin-bottom: 0;
  margin-top: 2rem;
  font-size: 1rem;
}


a {
  background-image: linear-gradient(var(--dark-red), var(--dark-red)), linear-gradient(var(--dark-red), var(--dark-red));
  background-position: 100% 100%, -30px 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px, 0 1px;
  color: var(--black);
}
a:hover {
  animation: lineLoop-animation 2s linear infinite;
  color: var(--dark-red);
}