.undp-switch.ant-switch {
  border: 2px solid var(--dark-red);
  background-color: var(--gray-100);
  height: 26px;
}

.undp-switch.ant-switch-checked {
  background-color: var(--light-red);
}

.undp-switch  .ant-switch-handle::before{
  background-color: var(--dark-red);
  box-shadow: none;
}