
.undp-table-head {
  display: flex;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: left;
  align-items: flex-end;
  background-color: var(--gray-300);
}

.undp-table-head-small {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  align-items: flex-end;
  background-color: var(--gray-300);
}

.undp-table-head-sticky {
  position: sticky;
  top: 0;
}

.undp-sticky-cell-column {
  position: sticky;
  left: 0;
}

.undp-table-head-cell {
  padding: .75rem 2.5rem .75rem .75rem;
  background-color: var(--gray-300);
}

.undp-table-row {
  display: flex;
  border-bottom: 1px solid var(--gray-400);
}

.undp-table-row-cell {
  padding: .75rem 2.5rem .75rem .75rem;
  font-size: 1.25rem;
  color: var(--black);
  background-color: #fff;
}

.undp-table-row-cell-small {
  padding: .75rem 2.5rem .75rem .75rem;
  font-size: 1rem;
  color: var(--black);
  background-color: #fff;
}